{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'Portfolio_templates/Basic_Pf_1/css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'Portfolio_templates/Basic_Pf_1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Portfolio_templates/Basic_Pf_1/css/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    
    
<div class="section" id="about">
  <div class="container">
    {% for i in prs %}
    <div class="h2 title"  data-aos="fade-left" data-aos-delay="0">{{i.First_name}} {{i.Last_name}}</div>
          <p class="category text-black"  data-aos="fade-left" data-aos-delay="100">Web Developer, Graphic Designer,  Photographer</p>
      
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            
            <div class="h4 mt-0 title">About</div>
            
            <p><a href="https://templateflip.com/templates/creative-cv/" target="_blank">{{i.First_name}} {{i.Last_name}}</a></p>
          </div>
         
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
          
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">30</div>
            </div>
            
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">{{i.Email}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">{{i.Phone}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">{{i.Address}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, German, French</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Skills-->
<div class="section" id="skill">
  
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        {% for i in sk %}
        <div class="row">
          <div class="col-md-12">
           
            <div class="progress-container progress-primary"><span class="progress-badge">{{i.Name}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value"> {{i.Level}}</span>

              </div>
            </div>
           
          </div>
         
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
  
</div>
<!--Project-->
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Project</div>
    {% for i in pro %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{i.Start_year}} - {{i.End_year}}</p>
            <div class="h5">{{i.Title}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Front End Developer</div>
            <p>{{i.Description}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
<!--Exprience-->
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    {% for i in ex %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{i.Start_year}} - {{i.End_year}}</p>
            <div class="h5">{{i.Company}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{i.Role}}</div>
            <p>{{i.Description}}</p>
          </div>
        </div>
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>
    
<!--Education-->
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
  {% for i in edu %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{i.Start_year}} - {{i.End_year}}</p>
            <div class="h5">{{i.Degree}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"></div>
            <p class="category">{{i.Institute}}</p>
            <p>{{i.Description}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
    </div>
    
  </div>
</div>

    
    </footer>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/js/core/popper.min.js' %}"></script>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/js/now-ui-kit.js' %}"></script>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/js/aos.js' %}"></script>
    <script src="{% static 'Portfolio_templates/Basic_Pf_1/scripts/main.js' %}"></script>
  </body>
</html>