{% extends 'Master.html '%}
{% block content %}
{% load static %}
<!--Portfolio Faqs-->
<!--Portfolio Faqs-->
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="section-title" data-aos="">
                        <h2>Portfolio</h2>
                    </div>
                   
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Portfolio?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>A portfolio showcases your talents and skills. Typically, a portfolio includes items such as certificates, transcripts, samples of past work.</p>
                                <p>As the name suggests, portfolio is more detailed and descriptive document.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">What is a career portfolio?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Finding the answer to “What is a career portfolio?” can help you supplement your resume with evidence of your work and skills.</p>
                                <p> A career portfolio is a collection of examples and materials that highlight the professional background of candidates. A professional portfolio may include work samples, resume, 
                                    certifications and other materials that show your knowledge and achievements. Candidates can present their career portfolios to employers during the application or interview process.
                                    A professional career portfolio can reflect the work experience and qualifications of candidates. Many professionals personalise their portfolios and add specific work examples. 
                                    For example, a content writer can add sample articles and blogs to their career portfolio. There are many job roles that may require candidates to have a career portfolio. 
                                    Some common examples of such job roles can be instructors, makeup artists, photographers, designers, hair stylists and cake decorators.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">How to make portfolio in portfolio maker?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Step 1 : Select the appropriate portfolio template</p>
                                <p>Step 2 : Fill the form</p>
                                <p>Step 3 : Make payment if you select premium template</p>
                                <p>Step 4 : Get document URL</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapseThree">How to diploy/live/publish/host portfolio?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapsefour" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <a target="_blank" href="https://bloggingwizard.com/online-portfolio-hosting-sites/"><p>
                                    <p>Best Free Online Portfolio Hosting Sites</p></p></a>
                                <a target="_blank" href="https://www.google.com/search?q=website+hosting+websites&rlz=1C1CHBF_enIN992IN992&sxsrf=ALiCzsaebUJzFRdkN76s9Ku_MPp6Oy8_0g%3A1670507402311&ei=iuuRY_XBEu6y3LUPr9uVgAY&oq=wesite+hosting+website&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMgcIABCABBANMggIABAFEB4QDTIICAAQCBAeEA0yCAgAEAgQHhANMggIABAIEB4QDTIFCAAQhgMyBQgAEIYDMgUIABCGAzIFCAAQhgM6CggAEEcQ1gQQsAM6BwgjELACECc6CAgAEAgQBxAeOgcIABCxAxBDOgUIABCRAjoFCAAQgAQ6CggAEIAEELEDEA06BggAEAcQHjoGCAAQHhANSgQIQRgASgQIRhgAUPEQWKU5YKxdaAJwAXgAgAGsAogB-h6SAQgwLjIuMTQuMZgBAKABAcgBCMABAQ&sclient=gws-wiz-serp"><p>
                                    <p>Paid Online Portfolio Hosting Sites</p></p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="/#contact"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Resume faqs-->
<div class="faq_area section_padding_130" id="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" id="resume">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="section-title" data-aos="">
                        <h2>Resume</h2>
                    </div>
                   
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">What is Resume?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne1" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>A resume is a summary of your work profile, combined with your most recent achievements and skills.</p>
                                <p> A well-written resume is a one- or two-page document that states your relevant skills and work experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo">How many section coverd in resume?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>1. Personal Information</p>
                                <p>2. Education</p>
                                <p>3. Experience</p>
                                <p>4. Project</p>
                                <p>5. Skills</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="true" aria-controls="collapseThree">How to make resume in portfolio maker?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree3" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Step 1 : Select the appropriate portfolio template</p>
                                <p>Step 2 : Fill the form</p>
                                <p>Step 3 : Make payment if you select premium template</p>
                                <p>Step 4 : Get document in .pdf and .doc format</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour4" aria-expanded="true" aria-controls="collapseThree">Which types of resume available here?</h6><span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapsefour4" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                    <p>Normal Resume</p>
                                    <p>ATS Friendly Resume</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="/#contact"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Resume Scanner-->
<div class="faq_area section_padding_130" id="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" id="resume_scan">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="section-title" data-aos="">
                        <h2>Resume Scanner</h2>
                    </div>
                   
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne11" aria-expanded="true" aria-controls="collapseOne">What is Resume Scanner?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne11" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>A resume scanner is a software that give feature to Rate Your resume compare to job description.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo22" aria-expanded="true" aria-controls="collapseTwo">Which Features included in our resume scanner?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo22" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Our resume scanner provide two type of features.</p>
                                <p>1. Keyword Finder</p>
                                <p>2. Resume Ratting</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree33" aria-expanded="true" aria-controls="collapseThree">What is use of keyword finder?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree33" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>It's find the keywords from your job description.</p>
                                <p>You can use that keyword in your resume to increase chances of selection. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour44" aria-expanded="true" aria-controls="collapseThree">What is use of resume ratting?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapsefour44" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>It's use to rate your resume compare with job description.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="/#contact"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ATS-->
<div class="faq_area section_padding_130" id="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6" id="ATS">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="section-title" data-aos="">
                        <h2>ATS</h2>
                    </div>
                   
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne111" aria-expanded="true" aria-controls="collapseOne">What is ATS?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne111" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Applicant Tracking System</p>
                                <p>An ATS is a computer software program that manages the hiring process. It does this by collecting and sorting thousands of resumes. </p>
                                <p>Hiring managers can then screen candidates using the ATS, as well as track their progress through the hiring process. By digitizing the hiring process in this way, an ATS saves employers time and money. </p>
                                <p>Most companies use Applicant Tracking Systems (ATS) to manage the application process. This is a system that collects, scans and ranks your resume.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo222" aria-expanded="true" aria-controls="collapseTwo">What is ATS friendly resume?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo222" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>An ATS compliant resume is one that can be easily scanned and interpreted by an applicant tracking system (ATS).</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree333" aria-expanded="true" aria-controls="collapseThree">How to make ATS friendly Resume?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree333" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Step 1 : Select ATS friendly resume template</p>
                                <p>Step 2 : Fill the form</p>
                                <p>Step 3 : Make payment if you select premium template</p>
                                <p>Step 4 : Get document in .pdf, .doc formate</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour444" aria-expanded="true" aria-controls="collapseThree">Which format is Preferred in ATS Resume<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapsefour444" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                               <p>ATS's accept PDF formats all the time without any loading issues. A PDF (the printable format) holds together much better than the Word (the editable format) does. Only unless it specifically states it will only accept Word, then you must.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Can't find your answers?</p>
                    <a href="/#contact"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Style for all-->
<style type="text/css">
body{margin-top:20px;}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: hsl(204, 50%, 96%);
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}

</style>
{% endblock %}

