{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>

    <title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'Resume_Templates/Premium_R_2/resume.css' %}" media="all" />

</head>

<body>

    <div id="doc2" class="yui-t7">
        <div id="inner">

            <div id="hd">
                <div class="yui-gc">
                    {% for i in prs %}
                    <div class="yui-u first">
                        <h1>{{i.First_name}} {{i.Last_name}}</h1>
                        <h2>Web Designer, Director</h2>
                    </div>

                    <div class="yui-u">
                        <div class="contact-info">
                            <h3><a id="pdf" href="#">Download PDF</a></h3>
                            <h3><a href="mailto:name@yourdomain.com">{{i.Email}}</a></h3>
                            <h3>{{i.Phone}}</h3>
                        </div>
                        <!--// .contact-info -->
                    </div>
                    {% endfor %}
                </div>
                <!--// .yui-gc -->
            </div>
            <!--// hd -->

            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Philosophy</h2>
                            </div>
                            <div class="yui-u">
                                {% for i in prs %}
                                <p class="enlarge">
                                    {{i.Philosophy}}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        <!--// .yui-gf -->

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Skills</h2>
                            </div>
                            <div class="yui-u">
                                {% for i in sk %}
                                <div class="talent">
                                    <h2>{{i.Name}}</h2>
                                    <p>{{i.Level}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--// .yui-gf -->


                        <!--// .yui-gf-->

                        <div class="yui-gf">

                            <div class="yui-u first">
                                <h2>Experience</h2>
                            </div>
                            <!--// .yui-u -->

                            <div class="yui-u">
                                {% for i in ex %}
                                <div class="job">
                                    <h2>{{i.Company}}</h2>
                                    <h3>{{i.Role}}</h3>
                                    <h4>{{i.Start_year}} - {{i.End_year}}</h4>
                                    <p>{{i.Description}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                            <!--// .yui-u -->
                        </div>
                        <!--// .yui-gf -->


                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            <div class="yui-u">
                                {% for i in edu %}
                                <div class="job">
                                    <h2>{{i.Institute}}</h2>
                                    <h3>{{i.Degree}}</h3>
                                    <h4>{{i.Start_year}} - {{i.End_year}}</h4>
                                    <p>{{i.Description}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--// .yui-gf -->
                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2>Project</h2>
                            </div>
                            <div class="yui-u">
                                {% for i in pro %}
                                <div class="job">
                                    <h2>{{i.Title}}</h2>

                                    <h4>{{i.Start_year}} - {{i.End_year}}</h4>
                                    <p>{{i.Description}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <!--// .yui-b -->
                </div>
                <!--// yui-main -->
            </div>
            <!--// bd -->
            {% for i in prs %}
            <div id="ft">
                <p>{{i.First_name}} {{i.Last_name}} &mdash; <a href="{{i.Email}}">{{i.Email}}</a> &mdash; {{i.Phone}}</p>
            </div>
            {% endfor %}
            <!--// footer -->

        </div>
        <!-- // inner -->


    </div>
    <!--// doc -->


</body>

</html>