{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'Resume_Templates/Premium_R_3/css/style.css' %}">
    <style>

    </style>
</head>

<body>

    <div class="resume-box">
        <div class="left-section">
            {% for i in prs %}
            <div class="profile">
                <img src="{% static 'Resume_Templates/Premium_R_3/image/profile.png' %}" class="profile-img">
                <div class="blue-box"></div>
            </div>
            <h2 class="name">{{i.First_name}} <br> <span>{{i.Last_name}}</span></h2>
            <p class="n-p">Graphic & Web Designer</p>
            {% endfor %}

            <div class="info">
                <p class="heading">Info</p>
                {% for i in prs %}
                <p class="p1"><span class="span1"><img src="{% static 'Resume_Templates/Premium_R_3/image/location.png' %}"></span>Address<span><br>{{i.Address}}</span></p>
                <p class="p1"><span class="span1"><img src="{% static 'Resume_Templates/Premium_R_3/image/call.png' %}"></span>Phone<span><br>{{i.Phone}}</span></p>
                <p class="p1"><span class="span1"><img src="{% static 'Resume_Templates/Premium_R_3/image/mail.png' %}"></span>Email<span><br>{{i.Email}}</span></p>
                <p class="p1"><span class="span1"><img src="{% static 'Resume_Templates/Premium_R_3/image/dob.png' %}"></span>DOB<span><br>{{i.Dob}}</span></p>
                {% endfor %}
            </div>
        </div>

        <div class="right-section">
            <div class="right-heading">
                <img src="{% static 'Resume_Templates/Premium_R_3/image/user.png' %}">
                <p class="p2">Philosophy</p>

            </div>
            {% for i in prs %}
            <p class="p3">{{i.Philosophy}}</p>
            {% endfor %}
            <div class="clearfix"></div>
            <br><br>
            <div class="right-heading">
                <img src="{% static 'Resume_Templates/Premium_R_3/image/pencil.png' %}">
                <p class="p2">Work Experience</p>
            </div>
            {% for i in ex %}
            <div class="clearfix"></div>
            <div class="lr-box">

                <div class="left">
                    <p class="p4">{{i.Start_year}} - {{i.End_year}}</p>
                </div>

                <div class="right">
                    <p class="p4">{{i.Role}}</p>
                    <p class="p5">{{i.Company}}</p>
                    <p class="p5">{{i.Description}}</p>
                </div>

                <div class="clearfix"></div>
            </div>
            {% endfor %}

            <div class="right-heading">
                <img src="{% static 'Resume_Templates/Premium_R_3/image/edu.png' %}">
                <p class="p2">Education</p>
            </div>
            {% for i in edu %}
            <div class="clearfix"></div>
            <div class="lr-box">

                <div class="left">
                    <p class="p4">{{i.Start_year}} - {{i.End_year}}</p>
                </div>

                <div class="right">
                    <p class="p4">{{i.Degree}}</p>
                    <p class="p5">{{i.Institute}}</p>
                    <p class="p5">{{i.Description}}</p>
                </div>

                <div class="clearfix"></div>
            </div>
            {% endfor %}

            <br>
            <div class="right-heading">
                <img src="{% static 'Resume_Templates/Premium_R_1/image/edu.png' %}">
                <p class="p2">Projects</p>
            </div>
            {% for i in pro %}
            <div class="clearfix"></div>
            <div class="lr-box">

                <div class="left">
                    <p class="p4">{{i.Start_year}} - {{i.End_year}}</p>
                </div>

                <div class="right">
                    <p class="p4">{{i.Title}}</p>
                    <p class="p5">{{i.Description}}</p>
                </div>

                <div class="clearfix"></div>
            </div>
            {% endfor %}

            <br>
            <div class="right-heading">
                <img src="{% static 'Resume_Templates/Premium_R_1/image/edu.png' %}">
                <p class="p2">Skill and expertize</p>
            </div>
            <div class="clearfix"></div>
            <div class="s-box">
                {% for i in sk %}
                <p class="p6">{{i.Name}}</p>
                <div id="progress" style="width: 220%;"></div>
                {% endfor %}
            </div>


            <div class="clearfix"></div>
        </div>
</body>

</html>