{% extends 'Master.html' %}
{% block content %}
{% load static %}
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(204, 50%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="section-title" data-aos="">
            <h2>Register</h2>
          </div>
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form action="Register" method="post">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                <h5 class="text-danger">{{msg}}</h5>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" name="firstname"/>
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" name="lastname"/>
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" name="email"/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example4" class="form-control" name="username"/>
                  <label class="form-label" for="form3Example4">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" name="password1"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
                 <!-- Confirm-Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" name="password2"/>
                  <label class="form-label" for="form3Example4">Confirm Password</label>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn mb-4 rounded" style="background-color:#3498db;color:#fff;">
                  <a class="" style="color: #fff;">Sign up</a>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="{% static 'home_page/img/Register.jpg' %}" class="w-100 rounded-4 shadow-4" class="img-fluid animated">
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}