{% extends 'Master.html' %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<style>
  body
  {
    background-color: hsl(204, 50%, 96%)
  }
  .services .icon-box:hover::before {
            background: #fff;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 0px;
          }

          .services .icon-box:hover .title a,
          .services .icon-box:hover .description {
            color:black;
          }
          label
          {
            margin-left: 10px;
          }
          hr
          {
            background-color: skyblue;
            height: 5px;
          }
</style>
 <!-- ======= Services Section ======= -->
     <!-- ======= Services Section ======= -->
<section id="services" class="services">
        <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Resume Form {{resid}}</h2>
            </div>
            
            <!--==>Personal info form<==-->
            <div class="row justify-content-center">
              <div id="key" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <h1 class="title fs-2">Personal Infomation</h1>
                    <h2 id="msg3" class="bg-warning"></h2>
                    <hr>
                    <form id="Persnal_info">
                        {% csrf_token %}
                        {% for prs in prs %}
                        <div class="row">
                          <input type="hidden" value="{{resid}}" id="resid">
                          <input type="hidden" value="Resume" id="catt">
                          <div class="col form-floating mb-3">
                            <input type="text" class="form-control" placeholder="First name" id="fname" name="fname" required value="{{prs.First_name}}">
                            <label for="fname">First name</label>
                          </div>
                          <div class="col form-floating">
                            <input type="text" class="form-control" placeholder="Last name" id="lname" name="lname" required value="{{prs.Last_name}}">
                            <label for="lname">Last name</label>
                          </div>
                          <div class="form-floating mb-3 mt-3">
                            <textarea type="text" class="form-control" id="address" placeholder="Enter address" name="address" required value="{{prs.Address}}"></textarea> 
                            <label for="address">Address</label>
                            <br>
                          </div>
                          <div class="col form-floating mb-3">
                            <input type="number" class="form-control" id="phone" placeholder="Phone"
                            name="phone"
                            maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required value="{{prs.Phone}}">
                            <label for="phone">Phone number</label>
                          </div>
                          <div class="col form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required value="{{prs.Email}}">
                            <label for="email">Email</label>
                          </div>
                          <div class="form-floating mb-3 mt-3">
                            <input type="date" class="form-control" id="dob" placeholder="Date of birth" name="dob" required value="{{prs.Dob}}"> 
                            <label for="dob">Date of Birth</label>
                          </div>
                          <div class="input-group mb-3">
                            <input type="file" class="form-control" id="pic" value="{{prs.Pic}}">
                            <label class="input-group-text" for="inputGroupFile02">Upload Pic</label>
                          </div>
                          <div class="col form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Country" id="Cnty" name="Cnty" required value="{{prs.Country}}">
                            <label for="fname">Country</label>
                          </div>
                          <div class="col form-floating">
                            <input type="text" class="form-control" placeholder="State" id="st" name="st" required value="{{prs.State}}">
                            <label for="lname">State</label>
                          </div>
                          <div class="col form-floating">
                            <input type="text" class="form-control" placeholder="City" id="cty" name="cty" required value="{{prs.City}}">
                            <label for="lname">City</label>
                          </div>
                          <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="philo" placeholder=" philosophy statement" name="philo" required value="{{prs.Philosophy}}"> 
                            <label for="philo">Philosophy Statement</label>
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <input id="button1" class="float-start" value="Clear" type="button" onclick="personal()">
                            </div>  
                            <div class="col-lg-6">
                              <input id="button1" type="submit" value="Save">
                            </div>
                          </div>  
                        </div>
                        {% endfor %}
                    </form>
                </div>
              </div>
            </div>
            <!--==>Personal info form ended<==-->
            <br><br><br>
            
            <!--==>Education form<==-->
            <div class="row justify-content-center">
              <div id="key" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                {% for i in edu %}
                  <div id="d1">
                    <div class="row">
                        <div class="col-lg-6" style="padding-left:20px;">
                            Institute Name : {{i.Institute}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                            Degree : {{i.Degree}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                            Start Year : {{i.Start_year}}
                        </div>
                        {% if i.Current %}
                        <div class="col-lg-6" style="padding-left:20px;">
                            End Year : Present
                        </div>
                        {% else %}
                        <div class="col-lg-6" style="padding-left:20px;">
                            End Year : {{i.End_year}}
                        </div>
                        {% endif %}
                        <div class="col-lg-12" style="padding-left:20px;">
                            Discription : {{i.Description}}
                        </div>
                    </div>
                  </div>
                  <br>
                  {% endfor %}
                <br>
                  <h1 class="title fs-2">Education</h1>
                  <h2 id="msg1" class="bg-warning"></h2>
                  <hr>
                  <form id="Education">
                    {% csrf_token %}
                    
                    <div class="row">
                      <input type="hidden" value="{{resid}}" id="resid">
                      <input type="hidden" value="Resume" id="catt">
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="iname" placeholder="Institute name" name="iname" required> 
                          <label for="iname">Institute Name</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="degree" placeholder=" philosophy statement" name="degree" required> 
                          <label for="philo">Degree</label>
                          <br>
                        </div>
                        <div class="col form-floating mb-3">
                          <input type="number" class="form-control" placeholder="Start year" id="syear" name="syear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2022" required>
                          <label for="iname">Start Year</label>
                        </div>
                        <div class="col form-floating">
                          <input type="taxt" class="form-control" placeholder="End year" id="eyear" name="eyear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2030">
                          <label for="degree">End Year</label>
                        </div> 
                        <div class="form-floating mb-3 mt-3">
                          <label for="ptitle">Currently working?</label><br>
                          <select name="working" id="eduwork" class="form-control">
                            <option value="">Select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>                                         
                          <br>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="edudes" placeholder="description" name="des" required> 
                          <label for="des">Description</label>
                        </div> 
                        <div class="row">
                          <div class="col-lg-6">
                            <input id="button1" class="float-start" value="Clear" type="button" onclick="Edu_reset()">
                          </div>  
                          <div class="col-lg-6">
                            <input id="button1" type="submit" value="Save">
                          </div>
                        </div>               
                      </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
            <!--==>Education ended<==-->
            <br><br><br>

            <!--==>Experience form<==-->
            <div class="row justify-content-center">
              <div id="key" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  {% for i in ex %}
                  <div id="d1">
                    <div class="row">
                        <div class="col-lg-6" style="padding-left:20px;">
                            Company Name : {{i.Company}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                            Role Name : {{i.Role}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                            Start Year : {{i.Start_year}}
                        </div>
                        {% if i.Current %}
                        <div class="col-lg-6" style="padding-left:20px;">
                            End Year : Present
                        </div>
                        {% else %}
                        <div class="col-lg-6" style="padding-left:20px;">
                            End Year : {{i.End_year}}
                        </div>
                        {% endif %}
                        <div class="col-lg-12" style="padding-left:20px;">
                            Discription : {{i.Description}}
                        </div>
                    </div>
                </div><br>
                {% endfor %}
                <br>
                  <h1 class="title fs-2">Experience</h1>
                  <h2 id="msg2" class="bg-warning"></h2>
                  <hr> 
                    <form id="Experience">  
                      {% csrf_token %}  
                               
                      <div class="row">
                      <input type="hidden" value="{{resid}}" id="resid">
                      <input type="hidden" value="Resume" id="catt">
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="cname" placeholder="company name" name="cname" required> 
                          <label for="cname">Company Name</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="rname" placeholder="Role name" name="rname" required> 
                          <label for="rname">Role Name</label>
                          <br>
                        </div>
                        <div class="col form-floating mb-3">
                          <input type="number" class="form-control" placeholder="Start year" id="styear" name="syear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2022" required>
                          <label for="iname">Start Year</label>
                        </div>
                        <div class="col form-floating">
                          <input type="number" class="form-control" placeholder="End year" id="enyear" name="eyear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2030">
                          <label for="degree">End Year</label>
                        </div> 
                        <div class="form-floating mb-3 mt-3">
                          <label for="ptitle">Currently working?</label><br>
                          <select name="working" id="exwork" class="form-control">
                            <option value="">Select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>                                         
                          <br>
                        </div>  
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="des" placeholder="description" name="des" required> 
                          <label for="des">Description</label>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <input id="button1" class="float-start" value="Clear" type="button" onclick="Exe_reset()">
                          </div>  
                          <div class="col-lg-6">
                            <input id="button1" type="submit" value="Save">
                          </div>
                        </div>               
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--==>Experience ended<==-->
            <br><br><br>

              <!--==>Project form<==-->
            <div class="row justify-content-center">
              <div id="key" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  {% for i in pro %}
                  <div id="d1">
                    <div class="row">
                        <div class="col-lg-6" style="padding-left:20px;">
                            Project Title : {{i.Title}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                        {% if i.Current %}
                            Currently working : Yes
                        {% else %}
                        {% endif %}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                            Start Year : {{i.Start_year}}
                        </div>
                        <div class="col-lg-6" style="padding-left:20px;">
                        {% if i.Current %}
                        {% else %}
                            End Year : 2023
                        {% endif %}
                        </div>
                        <div class="col-lg-12" style="padding-left:20px;">
                            Description : {{i.Description}}
                        </div>
                    </div>
                </div><br>
                {% endfor %}
                <br>
                  <h1 class="title fs-2">Project</h1>
                  <h2 id="msg4" class="bg-warning"></h2>
                  <hr> 
                    <form id="Project">
                      {% csrf_token %}               
                      <div class="row">
                        <input type="hidden" value="{{resid}}" id="resid">
                        <input type="hidden" value="Resume" id="catt">
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="ptitle" placeholder="Project title" name="ptitle" required> 
                          <label for="ptitle">Project Title</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                          <select name="working" id="work" class="form-control">
                            <option value="">Currently working?</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>                                         
                          <br>
                        </div>
                        <div class="col form-floating mb-3">
                          <input type="number" class="form-control" placeholder="Start year" id="psyear" name="syear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2022" required>
                          <label for="iname">Start Year</label>
                        </div>
                        <div class="col form-floating">
                          <input type="number" class="form-control" placeholder="End year" id="peyear" name="eyear" maxlength="4"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="1950" max="2030">
                          <label for="degree">End Year</label>
                          <br>
                        </div> 
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="pdes" placeholder="description" name="pdes" required> 
                          <label for="des">Description</label>
                        </div>  
                        <div class="row">
                          <div class="col-lg-6">
                            <input id="button1" class="float-start" value="Clear" type="button" onclick="project_reset()">
                          </div>  
                          <div class="col-lg-6">
                            <input id="button1" type="submit" value="Save">
                          </div>
                        </div>            
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--==>project ended<==-->
            <br><br><br>

            <!--==>skill form<==-->
            <div class="row justify-content-center">
              <div id="key" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  {% for i in sk %}
                  <div id="d1">
                    <div class="row">
                        <div class="col-lg-4" style="padding-left:20px;">
                            Skill Name : {{i.Name}}
                        </div>
                        <div class="col-lg-4" style="padding-left:20px;">
                            Skill level : {{i.Level}}
                        </div>                   
                    </div>
                </div><br>
                  {% endfor %}
                <br>
                  <h1 class="title fs-2">Skill</h1>
                  <h2 id="msg5" class="bg-warning"></h2>
                  <hr>    
                    <form id="Skill"> 
                      {% csrf_token %}            
                      <div class="row">
                        <input type="hidden" value="{{resid}}" id="resid">
                        <input type="hidden" value="Resume" id="catt">
                        <div class="form-floating mb-3 mt-3">
                          <input type="text" class="form-control" id="sname" placeholder="Skill name" name="sname" required> 
                          <label for="sname">Skill Name</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                          <select name="working" id="level" class="form-control" required>
                            <option>Skill level</option>
                            <option value="Average">Average</option>
                            <option value="Good">Good</option>
                            <option value="Very Good">Very Good</option>
                            <option value="Better">Better</option>
                            <option value="Expert">Expert</option>
                          </select>                                                           
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <input id="button1" class="float-start" value="Clear" type="button" onclick="Skill_reset()">
                          </div>  
                          <div class="col-lg-6">
                            <input id="button1" type="submit" value="Save">
                          </div>
                        </div>            
                      </div>            
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--==>skill ended<==-->
        </div>
</section>
<form action="{% url 'Data_display' %}" method="POST">
      {% csrf_token %}
        <input type="hidden" value="{{resid}}" name="id">
        <input type="hidden" value="Resume" name="Ccat">
        <div class="row text-right">
          <div class="col-lg-11" data-aos="fade-up" data-aos-delay="50">
              <button id="button1" type="submit" value="Check Details" data-toggle="modal" data-target="#exampleModalCenter">Check Details&nbsp;<i class='bx bxs-chevrons-right fs-5'></i></button>
          </div>
        </div>
</form>
      <br><br>
<script>
    function Edu_reset()
    {
      document.getElementById('Education').reset();
    }

    function Exe_reset()
    {
      document.getElementById('Experience').reset();
    }

    function personal()
    {
      document.getElementById('Persnal_info').reset();
    }

    function project_reset()
    {
      document.getElementById('Project').reset();
    }

    function Skill_reset()
    {
      document.getElementById('Skill').reset();
    }
    //for Education
    $(document).on('submit','#Education',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'Education_data' %}",
        data:{
          res_id:$('#resid').val(),
          cat:$('#catt').val(),
          iname:$('#iname').val(),
          degree:$('#degree').val(),
          syear:$('#syear').val(),
          eyear:$('#eyear').val(),
          des:$('#edudes').val(),
          crnt:$('#eduwork').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
          success:function(data){
            $("#msg1").html(data)
          }
         })
    })

    //for Experience
    $(document).on('submit','#Experience',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'Experience_data' %}",
        data:{
          idd:$('#resid').val(),
          cat:$('#catt').val(),
          cname:$('#cname').val(),
          rname:$('#rname').val(),
          syear:$('#styear').val(),
          eyear:$('#enyear').val(),
          des:$('#des').val(),
          crnt:$('#exwork').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                
        },
        success:function(data){
          $("#msg2").html(data)
        }
      })
    })    

    //for personal information
    $(document).on('submit','#Persnal_info',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'Personal_data' %}",
        data:{
          fnm:$('#fname').val(),
          lnm:$('#lname').val(),
          adr:$('#address').val(),
          phn:$('#phone').val(),
          eml:$('#email').val(),
          dob:$('#dob').val(),
          philo:$('#philo').val(),
          pic:$('#pic').val(),
          cnty:$('#Cnty').val(),
          st:$('#st').val(),
          cty:$('#cty').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                
        },
        success:function(data){
          $("#msg3").html(data)
        }
      })
    })

    //for project
    $(document).on('submit','#Project',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'Project_data' %}",
        data:{
          idd:$('#resid').val(),
          cat:$('#catt').val(),
          title:$('#ptitle').val(),
          curnt:$('#work').val(),
          syear:$('#psyear').val(),
          eyear:$('#peyear').val(),
          dess:$('#pdes').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success:function(data){
          $("#msg4").html(data)
        }
      })
    })

    //for Skill
    $(document).on('submit','#Skill',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'Skill_data' %}",
        data:{
          idd:$('#resid').val(),
          cat:$('#catt').val(),
          sk_nm:$('#sname').val(),
          lvl:$('#level').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success:function(data){
          $("#msg5").html(data)
        }
      })
    })

</script>
     
{% endblock %}