{% extends 'Master.html' %}
{% load static %}
{% block content %}
    <!-- ======= Services Section ======= -->
    <section id="" class="services">
        <div class="container">
          <br><br>
          <div class="section-title" data-aos="fade-up">
            <h2>scanner</h2>
          </div>
  
          <div class="row justify-content-center">

            <div class="col-md-12 col-lg-5 align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class=""><a href="scan_keyword"><img src="{% static 'home_page/img/Keyword.jpg' %}" class="img-fluid"></a></div>
                <h1 class="title fs-2"><a href="scan_keyword">Find Keywords</a></h1>
                <p class="description">Find keywords from job description</p>
              </div>
            </div>
  
            <div class="col-md-12 col-lg-5 align-items-stretch mb-5 mb-lg-0 ">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class=""><a href="resume_rate"><img src="{% static 'home_page/img/Rate.jpg' %}" class="img-fluid"></a></div>
                <h3 class="title fs-2"><a href="resume_rate">Scan Resume</a></h3>
                <p class="description">Upload resume and job description to rate resume</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
{% endblock %}