{% extends 'Master.html' %}
{% block content %}
{% load static%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{data.Temp_name}}</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="temp_list">{{data.Temp_cat}} Templates</a></li>
            <li>{{data.Temp_cat}} Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{data.Temp_img1.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{data.Temp_img2.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{data.Temp_img3.url}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
             
              <div class="portfolio-description">
                <h2>{{data.Temp_name}}</h2>
                <p>{{data.Temp_des}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
             <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Name</strong>: {{data.Temp_name}}</li>
                  <li><strong>Category</strong>: {{data.Temp_cat}}</li>
                  <li><strong>Type</strong>: {{data.Temp_type}}</li>
                  <li><strong>Price</strong>: {{data.Temp_price}} &#8377;</li>
                </ul>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <a href="{% url data.Temp_name %}">
                    <button type="button" class="btn btn-lg" style="background-color:rgb(51, 152, 241); color:#fff;">Preview</button>
                  </a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <a href="Portfolio_form.html">
                  <form action="Form" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="{{data.Temp_cat}}" name="cat">
                    <input type="hidden" value="{{data.id}}" name="id">
                    <button type="submit" style="background-color:rgb(51, 152, 241); color:#fff;" class="btn btn-lg">Select Template</button>
                  </form>
                  </a>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %} 