{% extends 'Master.html' %}
{% block content %}
{% load static%}
<style>
              .services .icon-box:hover::before {
                  background: #fff;
                  right: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: 0px;
                }

                .services .icon-box:hover .title a,
                .services .icon-box:hover .description {
                  color:black;
                }
                label
                {
                  margin-left: 10px;
                }
                hr
                {
                  background-color: skyblue;
                  height: 5px;
                }
                i
                {
                  color:#3498db;
                }
</style> 
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{data.Temp_name}}</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="temp_list">{{data.Temp_cat}} Templates</a></li>
            <li>{{data.Temp_cat}} Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{data.Temp_img1.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{data.Temp_img2.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{data.Temp_img3.url}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
             
              <div class="portfolio-description">
                <h2>{{data.Temp_name}}</h2>
                <p>{{data.Temp_des}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
             <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Name</strong>: {{data.Temp_name}}</li>
                  <li><strong>Category</strong>: {{data.Temp_cat}}</li>
                  <li><strong>Type</strong>: {{data.Temp_type}}</li>
                  <li><strong>Price</strong>: {{data.Temp_price}} &#8377;</li>
                </ul>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <a href="{% url data.Temp_name %}">
                    <button type="button" class="btn btn-lg" style="background-color:rgb(51, 152, 241); color:#fff;">Preview</button>
                  </a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <a href="Portfolio_form.html">
                  <form action="Form" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="{{data.Temp_cat}}" name="cat">
                    <input type="hidden" value="{{data.id}}" name="id">
                    <button type="submit" style="background-color:rgb(51, 152, 241); color:#fff;" class="btn btn-lg">Select Template</button>
                  </form>
                  </a>
                </div>
              </div>
          </div>
        </div>
     </div>
    </section><!-- End Portfolio Details Section -->

    <!--feedback-->
    <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Feedback</h2>
          </div>
          {% for i in feed %}
          <div class="row justify-content-center">
            <div id="des" class="col-md-12 col-lg-8 align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="row">
                  <div class="col-lg-3">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="rounded-circle" style="height:120px" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-8">
                      <h5>{{i.uname}}</h5>
                      <h4>{{data.Temp_name}}</h4>
                      {% if i.Rate1 == 1 %}
                      <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                      {% endif %}
                      {% if i.Rate1 == 2 %}
                      <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                      {% endif %}
                      {% if i.Rate1 == 3 %}
                      <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                      {% endif %}
                      {% if i.Rate1 == 4 %}
                      <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                      </div>
                      {% endif %}
                      {% if i.Rate1 == 5 %}
                      <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                      </div>
                      {% endif %}
                      <div>{{i.Message1}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div><br>
          {% endfor %}
        </div>
    </section><!-- End Feedback Section -->
  </main><!-- End #main -->
  
{% endblock %} 