{% extends 'Master.html' %}
{% block content %}
{% load static %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Templates</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfolio Templates</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
<!-- ======= Templates Section ======= -->
<section id="templates" class="portfolio">
  <div class="container">
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
      {% for temp in Temps %}
      <h1>{{temp.Temp_cat}}</h1>
        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{temp.Temp_img1.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{temp.Temp_cat}}</h4>
              <p>{{temp.Temp_type}}</p>
              <div class="portfolio-links">
                <a href="{% url temp.Temp_name %}" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="{{temp.id}}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
<!--  
        <div class="col-lg-6 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/Temp_2.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="{% url 'Persnal' %}" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/Temp_3.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="Premium_pf_2" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/Basic_temp1.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="Basic_pf_1" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/Basic_temp2.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="Basic_pf_2" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/R_temp_1.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="C:\Users\pc\OneDrive\Desktop\Project\Anjali\resume1zip\resume1\resume.html" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/R_temp_2.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="C:\Users\pc\OneDrive\Desktop\Project\Anjali\latest-resume\latest-resume\index.html" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/R_temp_3.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="file:///C:/Users/pc/OneDrive/Desktop/Project/Anjali/new-resume-layout/new-resume-layout/index.html" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'home_page/img/portfolio/R_Temp_4.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="C:\Users\pc\OneDrive\Desktop\Project\Anjali\Personal\index.html" target="_blank"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>-->

      </div>

    </div>
</section><!-- End Template Section -->

{% endblock %}
  